*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    direction: ltr;
}
html,body,input{
    color : #2b78c2;
    font-family : arial,sans-serif;
}
input{
    padding : 5px 10px;
}
input[type=submit]{
    display : block;
    margin : 20px auto 0;
    border : none;
    padding : 7px 10px;
    background-color : #2b78c2;
    color : #FFF;
}
a{
    display: block;
    width: 143px;
    margin: 20px auto 0;
}
.tac{
    text-align : center;
}
.mt20{
    margin-top : 20px;
}
.mt50{
    margin-top : 50px;
}