*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html,body,#container{
    height : 100%;
}
#container {
    width   : 80%;
    margin : 0 auto;
    display : flex;
}

#textEditor {
    width : 50%;
    padding : 10px;
}

#preview {
    background-color : #EEE;
    width : 50%;
    padding : 10px;
    margin : 10px;
    border-radius: 5px;
}
input{
    min-width : 100%;
    padding : 10px;
    border-radius: 5px;
}
input:focus{
    outline : none;
    border-radius: 5px;
}